body {
    color: rgba(189, 254, 2);
    background-image: linear-gradient(rgb(122, 163, 0), rgba(80, 146, 45), rgb(39, 72, 21));
    margin: 0;
    font-family: sans-serif;
}
center {
    padding-top: 10vh;
}
.logo {
    width: 35vw;   
}
.container {
    color: rgba(80, 146, 45);
    background-color: rgba(189, 254, 2);
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.hamburger {
    background-color: transparent;
    position: absolute;
    right: 5px;
    display: none;
}
.hamburgerMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: black;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
button {
    height: 6vh;
    border: none;
    border-radius: 5px;
    background-color: rgba(80, 146, 45);
    margin: 5px;
    transition: background 0.25s;
}
button:hover {
    transition: 0.25s;
    background: rgb(99, 180, 55);
}
button:focus {
  background: rgb(99, 180, 55);
  transition: none;
}
a {
    color: rgba(189, 254, 2);
    text-decoration: none;
    font-size: xx-large;
}
.characters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imageCharacters {
    width: 40vw;
}
.hidden {
    display: none;
}
.darkcol {
    color: rgba(80, 146, 45);
}
.darkback {
    background-color: rgba(80, 146, 45);
}
.lightcol {
    color: rgba(189, 254, 2);
}
.lightback {
    background-color: rgba(189, 254, 2);
}

@media only screen and (max-width: 870px) {
    .container {
        display: none;
    }
    .hamburger {
        display: unset;
    }
    .logo {
        width: 70vw;   
    }
}